<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'create' %}" method="POST">
        {% csrf_token %} <!-- 보안을 위해 명시해주는 태그 -->
        <div>
            <lavel for="title">제목</lavel><br/>
            <input type="text" name="title" id="title">
        </div>
        <div>
            <lavel for="body">본문</lavel><br/>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
        </div>
        <input type="submit" value="글 생성하기">
    </form>
</body>
</html>