#navbar {
    max-width: 1200px;
    height: 100px;
    margin: 0 auto;
}

.navbarSupportedContent {
    width: 100%;
    justify-content: flex-end;
    z-index: 300;
}

#navSocial {
    margin-left: 10px;
    margin-right: 40px;
}

.socialIcon {
    color: rgba(0,0,0,.5);
    padding-left: 10px;
}

.socialIcon:hover {
    color: rgba(0,0,0,.7);
}