@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    background: #100b0b;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
    background: #100b0b;
    height: 50px;
}

header .logo {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
}

header nav ul {
    display: flex;
    letter-spacing: 5px;
}

header nav ul li {
    list-style: none;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f19f0c;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #283042;
    border-radius: 10px;
}

.center h1 {
    color: white;
    text-align: center;
    padding: 20px 0 20px 0;
    border-bottom: 2px solid #f19f0c;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text_filed {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text_filed input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text_filed label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text_filed span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #f19f0c;
    transition: 0.5s;
}

.text_filed input:focus ~ label, .text_filed input:valid ~ label {
    top: -5px;
    color: #f19f0c;
}

.text_filed input:focus ~ span::before,
.text_filed input:valid ~ span::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: white;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #f19f0c;
    border-radius: 10px;
    font-size: 18px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    font-weight: 1000;
}

input[type="submit"]:hover {
    border-color: #f19f0c;

}

.signup {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup a {
    color: #f19f0c;
    text-decoration: none;
    font-weight: 1000;
}