@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
    /* 부드럽게 */
}

body {
    background: #100b0b;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000000;
    background: #100b0b;
    height: 50px;
}

header .logo {
    color: #fff;
    font-size: 30px;
    text-decoration: none;
    font-weight: 600;
}

header nav ul {
    display: flex;
    letter-spacing: 5px;
}

header nav ul li {
    list-style: none;
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #f19f0c;
}

section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 0 100px;
    max-height: 100vh;
    overflow: hidden;
}

section .contentBx {
    position: relative;
    max-width: 600px;
    z-index: 1000;
}

section .contentBx h2 {
    font-size: 60px;
    color: #fff;
    text-transform: uppercase;
}

section .contentBx p {
    font-size: 18px;
    color: #fff;
}

section .contentBx .countdown {
    display: flex;
    margin: 20px 0;
}

section .contentBx .countdown .time {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    margin-right: 20px;
    font-size: 48px;
    min-width: 110px;
    font-weight: 700;
    padding: 10px 5px 15px;
    border-radius: 4px;
    color: #f19f0c;
}

section .contentBx .countdown .time span {
    margin-top: -10px;
    font-size: 20px;
    font-weight: 600;
    color: #100b0b;
}

section .contentBx .countdown .time .left {
    margin-top: 0px;
    color: #f19f0c;
    font-size: 40px;
}

section .contentBx a {
    position: relative;
    margin-top: 10px;
    display: inline-block;
    background: #f19f0c;
    color: #fff;
    letter-spacing: 5px;
    padding: 10px 50px;
    text-decoration: none;
    border-radius: 40px;
    font-size: 20px;
    font-weight: 600;
}

section .sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}

section .sci li {
    list-style: none;
}

section .sci li a {
    display: block;
    margin-right: 20px;
    transform: scale(0.8);
}

.newsletter {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    padding: 60px;
    background: #fff;
    z-index: 10000;
    box-shadow: 0 0 0 100vh rgba(16, 11, 11, 0.9);
}

.newsletter h2 {
    font-size: 48px;
    color: #100b0b;
}

.newsletter p {
    font-size: 20px;
    color: #100b0b;
}

.newsletter .inputBox {
    margin-top: 20px;
}

.newsletter .inputBox input {
    padding: 10px;
    outline: none;
    width: 300px;
    font-size: 18px;
    border: 1px solid #999;
}

.newsletter .inputBox input[type="submit"] {
    padding: 10px;
    outline: none;
    width: 140px;
    color: #fff;
    background: #f19f0c;
    border: 1px solid #f19f0c;
    letter-spacing: 2px;
    box-sizing: border-box;
    cursor: pointer;
}

.newsletter {
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.newsletter.active {
    visibility: visible;
    opacity: 1;
}

.newsletter .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.member {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.member h2 {
    margin-top: 80px;
    color: #100b0b;
    font-size: 60px;
    text-transform: uppercase;
}

.member ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 900px;
    height: 225px;

}

.member ul li {
    list-style: none;
    position: absolute;
    width: 300px;
    height: 300px;
    background: #fff;
    transform: rotate(45deg);
    margin: -150px;
    overflow: hidden;
}

.member ul li.user1 {
    top: 0;
    left: 0;
}

.member ul li.user2 {
    bottom: 0;
    left: 25%;
}

.member ul li.user3 {
    top: 0;
    left: 50%;
}

.member ul li.user4 {
    bottom: 0;
    left: 75%;
}

.member ul li.user5 {
    top: 0;
    left: 100%;
}

.member ul li .bg {
    width: 100%;
    height: 100%;
    transform: rotate(-45deg) scale(1.42);
}

.member ul li.user1 .bg {
    background: url(image/user1.jpg);
    background-size: cover;
}

.member ul li.user2 .bg {
    background: url(image/user2.jpg);
    background-size: cover;
}

.member ul li.user3 .bg {
    background: url(image/user3.jpg);
    background-size: cover;
}

.member ul li.user4 .bg {
    background: url(image/user4.jpg);
    background-size: cover;
}

.member ul li.user5 .bg {
    background: url(image/user5.jpg);
    background-size: cover;
}